* {
  box-sizing: border-box;
}

html {
  font-family: "Baloo 2", cursive;
  font-size: 18px;
}

body {
  --primary-color: #a778db;
  --primary-var-color: #caaeea;
  --secondary-color: #acdb76;
  --background-color: #fafafa;
  --basic-font-color: #121212;
  --secondary-font-color: #fafafa;
  --secondary-bg-color: #121212;
  --shadow-color: #a0a0a0;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--basic-font-color);
}
main {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

/*Grid*/

.grid-container {
  display: grid;
  grid-auto-rows: minmax(8.8125rem, auto);
}
.grid-container > div {
  border: 1px solid hotpink;
  background-size: cover;
  display: flex;
  align-items: flex-start;
}
.grid-container {
  grid-template-columns: repeat(2, 1fr);
}
.grid-container .grid-item-1 {
  grid-column: 1/-1;
  grid-row: span 2;
}

.main-header {
  color: var(--secondary-font-color);
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
}
.main-nav {
  display: flex;
  justify-content: center;
}
.main-nav > a {
  transition: text-decoration 0.5s;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.125rem 0.5rem 0rem 0.5rem;
  font-size: 1.125rem;
  color: var(--secondary-font-color);
  text-decoration: underline dotted var(--shadow-color);
}
.main-nav > a::first-letter {
  font-weight: bold;
  color: var(--shadow-color);
}
.main-nav > a:hover::first-letter {
  color: var(--primary-color);
}
.main-nav > a:hover {
  text-decoration: underline dotted var(--primary-color);
  _background-color: var(--shadow-color);
}
.main-nav > a:focus {
  text-decoration: underline dotted var(--primary-color);
}
.main-heading {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 0.5rem 0.125rem 0.75rem;
}
.main-heading::first-letter {
  color: var(--primary-color);
  font-size: 2.25rem;
}
.main-subheading {
  display: inline-block;
  margin-left: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 100%;
  max-width: 19rem;
  height: auto;
}

.logo {
  width: 100%;
  max-width: 3.5rem;
  height: auto;
  transform: translate(1rem, 1rem);
}

@media screen and (min-width: 529px) {
  .page-subtitle {
    display: none;
  }
}

@media screen and (max-width: 528px) {
  html {
    font-size: 16px;
  }
  main {
    width: 95%;
  }
  .main-nav {
    flex-direction: column;
    text-align: center;
  }
  .main-subheading {
    display: none;
  }
  .page-subtitle {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .main-heading {
    margin-top: 0;
    padding-top: 0;
  }
}
